.holder{
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
}

.column{
    text-align: center;
}

.drawingBox{
    margin: auto;
    border-width: 5px;
    border-style: solid;
    background-color: white;
}

.color{
    margin: max(1vw, 8px);
    width: max(4vw, 40px);
    height: max(4vw, 40px);
    border-radius: 50%;
    border-style: solid;
    margin-top: 30px;
}

.color:active{
    background-color: white;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.black{
    background-color: black;
}

.download{
    margin: 2vw;
    padding: 10px;
    font-size: max(2vw, 18px);
    background-color: white;
    border-radius: 20px;
}